.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin: 1rem;
    width: 80%;
    height: 20%;
    object-fit:fill; 
}
  
.rechazado{
    color: red;
}

.mensaje{
    text-align: center;
}

.container{
    width: 80%; 
}